body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
}

.top-bar {
    background: #f44336;
    color: white;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
}

.hero {
    text-align: center;
    padding: 40px 20px;
}

.section-title {
    margin: 20px;
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    background: white;
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    padding-bottom: 15px;
}

.product-media {
    background: black;
    border-radius: 12px 12px 0 0;
    padding: 10px;
}

.product-media img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.product-media h3 {
    color: white;
    margin: 10px 0 0;
    font-size: 15px;
}

.product p {
    color: green;
    font-weight: bold;
}

.product button {
    background: #f44336;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

/* سبد خرید */
.cart-box {
    padding: 20px;
}

.cart-item {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.cart-item button {
    margin: 0 3px;
    padding: 3px 8px;
    border-radius: 4px;
}
