body {
  margin: 0;
  font-family: Tahoma;
  background: #f4f6f8;
}

header {
  background: #0d6efd;
  color: white;
  padding: 15px;
  text-align: center;
}

header input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.cart-link {
  color: white;
  display: block;
  margin-top: 5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

.product img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.product button {
  width: 100%;
  padding: 10px;
  background: #0d6efd;
  border: none;
  color: white;
  border-radius: 8px;
}

.stars {
  color: gold;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}
