body {
  margin: 0;
  font-family: Tahoma;
  background: #f4f6f8;
}

header {
  background: #0d6efd;
  color: white;
  padding: 30px;
  text-align: center;
  position: sticky;
  top: 0;
}

.cart-btn {
  margin-top: 10px;
  font-size: 18px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 25px;
  padding: 40px;
}

.product {
  background: white;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
  padding: 20px;
  text-align: center;
  transition: .3s;
}

.product:hover {
  transform: translateY(-10px);
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.product h3 {
  margin: 15px 0 5px;
}

.product button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 25px;
}
